:root {
--accent-color: #2196F3;
--logo-color: #000000;
--text-color: #212121;
--additional-text: #757575;
--backgroud-color: #FFFFFF;
--backgroud-team: #F5F4FA;
--backgroud-footer: #2F303A;
--card-stroke: #EEEEEE;
--footer-number: rgba(255, 255, 255, 0.60);
}

/* font-family: "Roboto", sans-serif;
font-family: "Raleway", sans-serif; */

h1, h2, h3, p {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img{
    display: block;
}

.box {
    margin: 0%;
    padding: 0%;
}

.container {
    /* outline: solid red; */
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* header */

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header> .container {
    display: flex;
    align-items: center;
}

.logo-color {
color: var(--accent-color);
font-family: "Raleway", sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.header-logo {
color: var(--logo-color);
font-family: "Roboto", sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
margin-right: 93px;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.nav-link {
color: var(--text-color);
font-family: "Roboto", sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.active {
    color: var(--accent-color);
}

.nav-link:hover {
color: var(--accent-color);
font-family: "Roboto", sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.header-link {
color: var(--additional-text);
font-family: "Roboto", sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
} 

.header-link:hover {
color: var(--accent-color);
font-family: "Roboto", sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
} 

.header-list {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-left: auto;
}

/* секція герой */
.hero {
    background-image: url(../images/backgroung_hero.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero> .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-title {
color: var(--backgroud-color);
font-family: "Roboto", sans-serif;
font-size: 44px;
font-weight: 900;
line-height: 1.36; 
letter-spacing: 2.64px;
text-transform: uppercase;
text-align: center;
/* display: flex;
justify-content: center; */
width: 696px;
margin-bottom: 30px;
}

.hero-button {
color: var(--backgroud-color);
background-color: var(--accent-color);
padding-top: 10px;
padding-right: 32px;
padding-bottom: 10px;
padding-left: 32px;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 1.87;
letter-spacing: 0.96px;
border-radius: 4px;
/* display: flex;
justify-content: center; */
text-align: center;
border: transparent;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* секція переваги */
.skills {
    padding-top: 94px;
}

.skills-list {
    display: flex;
    gap: 30px;
}

.skills-item::before {
    content: "";
    width: 270px;
    height: 120px;
    background-color: var(--backgroud-team);
    border-radius: 4px;
    display: block;
    margin-bottom: 30px;
    background-image: url(../images/antenna.png);
    background-repeat: no-repeat;
    background-position: center;
}

.skills-item:nth-child(2)::before {
    background-image: url(../images/clock.png);
}

.skills-item:nth-child(3)::before {
    background-image: url(../images/diagram.png);
}

.skills-item:nth-child(4)::before {
    background-image: url(../images/astronaut.png);
}

.skill-title {
color: var(--text-color);
font-family: "Roboto", sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;
}

.skill-desc {
color: var(--additional-text);
font-family: "Roboto", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 1.72;
letter-spacing: 0.42px;
width: 270px;
}

/* секція чим ми займаємось */
.work{
    padding-top: 94px;
    padding-bottom: 94px;
}

.work> .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.work-title {
color: var(--text-color);
font-family: "Roboto", sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 1.08px;
text-align: center;
margin-bottom: 50px;
}

.work-list {
    display: flex;
    gap: 30px;
}

.work-item {
    width: 370px;
}

/* секція команда */

.team {
    background-color: var(--backgroud-team);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team> .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.team-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}

.team-item {
    background-color: var(--backgroud-color);
    height: 368px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    border-radius: 0px 0px 4px 4px;

}

.team-title {
color: var(--text-color);
font-family: "Roboto", sans-serif;
font-size: 36px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 1.08px; 
margin-bottom: 50px;
}

.team-image {
    width: 270px;
    display: flex;
    justify-content: center;
}

.team-item> .box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-name {
color: var(--text-color);
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: normal;
letter-spacing: 1.19px;
text-align: center;
white-space: nowrap;
margin-bottom: 10px;
}

.team-desc {
color: var(--additional-text);
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.19;
letter-spacing: 0.48px;
text-align: center;
white-space: nowrap;
}

/* footer */
.footer {
    background-color: var(--backgroud-footer);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    color: var(--backgroud-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    }

.footer> .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-address {
    margin-top: 20px;
    font-style: normal;
}

.address-link {
    color: var(--backgroud-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; 
    letter-spacing: 0.42px;
}

.footer-item {
    margin-top: 9px;
}

.footer-link {
    color: var(--footer-number);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; 
    letter-spacing: 0.42px;
}



